<div class="row">
  <h1><%= @avatar.user.name %></h1>
</div>

<div class="row">
    <div class="col-md-4">
        Avatar image here
    </div>
    <div class="col-md-8">
      Some content here
    </div>
</div>
